<div class="container-fluid" style="background-color: #556AC7;padding-top: 10px;padding-bottom: 10px">
    <div class="row text-center justify-content-between" style="padding: 10px;">
      <div style="float: left;margin-left: 20%"><span class="brand"><b>SV</b></span></div>
      <div style="float: right;margin-right: 20%">
        <a routerLink="/portfolio" target="_blank" class="btn-lg btn-outline-light">Portfolio</a>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 100vh;">
    <div class="row text-center" style="height: 50vh;background-color: #556AC7;">
      <div class="col-sm" style="margin-top: 4rem;">
        <h1 style="color: #FFFFFF;">Hi, I am Vamsi</h1>
        <img class="avatar" src="../../assets/images/mf-avatar.svg" alt="">
      </div>      
    </div>
    <div class="row text-center align-items-center" style="height: 50vh;background-color: #FFFFFF">
      <div class="col-sm">
        <h3 style="color: #556AC7;">I am a front-end designer, developer and I love what I do.</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm">
          <h1 style="color: #556AC7;">Some of my recent work</h1>
        </div>
      </div>
      <div class="row text-center" style="padding: 30px;">
        <div class="card-deck">
        <div class="card shadow  chat">
          <img class="card-img-top" src="../../assets/images/chat.png" alt="Card image cap" style="height: 300px">
          <div class="overlay_chat">
            <div class="row text-center align-items-center" style="height: 100%;">
              <div class="col-sm">
                <a href="https://chatroomcorner.herokuapp.com" target="_blank" class="btn btn-lg">VISIT SITE</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Chat App</h5>
            <p class="card-text">This is a chat application build using node.js and socket.io. People can create rooms and chat privately in real time.</p>
          </div>
        </div>
        <div class="card shadow game">
          <img class="card-img-top " src="../../assets/images/2048.png" alt="Card image cap" style="height: 300px">
          <div class="overlay_2048">
            <div class="row text-center align-items-center" style="height: 100%;">
              <div class="col-sm">
                <a href="https://challenge2048.herokuapp.com" target="_blank" class="btn btn-lg">VISIT SITE</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">2048</h5>
            <p class="card-text">This is a clone of popular 2048 game implemented using my own algorithm. I received it as challenge from a friend and I built in weekend using Vue.js</p>
          </div>
          
        </div>
        <div class="card shadow shrine">
          <img class="card-img-top" src="../../assets/images/shrine.png" alt="Card image cap" style="height: 300px">
          <div class="overlay_shrine">
            <div class="row text-center align-items-center" style="height: 100%;">
              <div class="col-sm">
                <a href="https://www.github.com/satyavamsi/Shrine" target="_blank" class="btn btn-lg">VISIT SITE</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Shopping App</h5>
            <p class="card-text">This is just a mockup of a shopping site built using material design just for the purpose of exploring material design from google.</p>
          </div>            
        </div>
      </div>
      </div>
    
    </div>
  </div>
  <div class="container-fluid" style="width: 100%">
    <div class="row text-center" style="background-color: #556AC7;height: 50vh;margin-top: -20rem"></div>
  </div>